extends layout

block content
  h1= title
  p Welcome to our test

  // Wrapper
  #wrapper


    // USER LIST
    h2 Liste des victimes
    #userList
      table
        thead
          th Prénom de la personne que soumet le formulaire
          th Nom de la personne que soumet le formulaire
          th Email address
          th Relation avec la victime
          th Prénom de la victime
          th Nom de la victime
          th Prénom du pere de la victime
          th Nom du pere de la victime
          th Prénom de la mere de la victime
          th Nom de la mere de la victime
          th Date de naissance de la victime (YYYY-MM-DD)
          th Date de deces de la victime (YYYY-MM-DD)
          th Lieu de naissance de la victime
          th Lieu de residence de la victime
          th Lieu de deces de la victime
          th Profession et lieu de travail de la victime
          th Temoignage sur la victime
          th Circonstances de deces
          th Delete?
        tbody
    // /USER LIST



  // /WRAPPER
